{% extends "base-homepage.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}All State {{ election_type|title }} votes{% endblock %}
{% block content %}
    <div class="fixedSubHeader sticky-xl-top pb-2">
        <h5 class="display-56 mb-2">All States with a {{ election_type|title }} election result</h5>
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>
                <li class="breadcrumb-item"><a href={% url 'all_election_type' %}>Results</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ election_type|title }} Elections</li>
            </ol>
        </nav>
    </div>
    <ul class="list-inline">
        {% for state in states %}
            <li class="list-inline-item"><a href="{% url 'all_state_county' election_type=election_type|lower state_code=state.state__code|lower  %}">{{ state.state__state_name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
