{% extends "base-homepage.html" %}
{% block title %} Credits {% endblock %}
{% block content %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>
            <li class="breadcrumb-item">Credits</li>
        </ol>
    </nav>
    <div class="credits">
        <h4 class="display-56 py-4">Credits</h4>
        <div class="my-5">
            <h5>Developer</h5>
            <p>This application is maintained by <a href="mailto:dotunoyesanmi@gmail.com">Oyedotun Oyesanmi</a></p>
        </div>

        <div class="my-5">
            <h5>Vector Images</h5>
            <p>Republican Party Logo provided by <a href="https://thenounproject.com/sandorsz/" target="_blank">Alexander Skowalsky</a></p>
            <p>Democratic Party Logo provided by <a href="https://thenounproject.com/jsczcy/" target="_blank">Yi Chen</a></p>
            <p>US Map provided by <a href="https://thenounproject.com/noahcamp/" target="_blank">Noah Camp</a></p>
            <p>User logo provided by <a href="https://thenounproject.com/IconDots/" target="_blank">IconDots</a></p>
            <p>Button (3 stars) provided by <a href="https://thenounproject.com/felisbertopiazza/" target="_blank">Felisberto Piazza</a></p>
        </div>

        <div class="my-5">
            <h5>Vertical Timeline</h5>
            <p>Timeline display of election results on results page uses <a href="https://codyhouse.co/gem/vertical-timeline/">Codyhouse Vertical Timeline</a></p>
        </div>

        <div class="my-5">
            <h5>Data</h5>
            <p>Election data was sourced from <a href="https://library.cqpress.com/elections/index.php">CQ Press Voting and Election Collection</a></p>
        </div>
    </div>
{% endblock %}
