{% extends "base-homepage.html" %}
{% block title %} Credits {% endblock %}
{% block content %}
    <div class="credits">
        <h2>Credits</h2>
        <br />
        <div class="section">
            <h3>Developer</h3>
            <p>This application is created and maintained by <a href="mailto:dotunoyesanmi@gmail.com">Oyedotun Oyesanmi</a></p>
        </div>
        <div class="section">
            <h3>Institution</h3>
            <p>This web application was born out of a class project instructed by <a href="https://www.cs.iusb.edu/~raman/" target="_blank">Dr. Raman Adaikkalavan</a> at <a href="https://iusb.edu" target="_blank">Indiana University South Bend</a></p>
            <p>Early in the life of this application, I worked with <a href="https://github.com/raygi" target="_blank">Raymond Alavo</a> to produce a <a href="https://github.com/dotman14/P3_CSharp" target="_blank">C# console version</a> of the application. <a href="https://github.com/raygi" target="_blank">Raymond Alavo</a> also worked on a range of <a href="https://github.com/raygi/Election" target="_blank">mobile applications</a> for the website, hopefully this will be released soon</p>
            <p>Thanks to <a href="https://www.linkedin.com/in/susan-thomas-67669611/">Susan Thomas</a>, Director of Collection Services at IU South Bend's <a href="https://www.iusb.edu/library/index.php">Franklin D. Schurz Library</a> who pointed me in the right direction on how to get data for the application</p>
        </div>

        <div class="section">
            <h3>Vector Images</h3>
            <p>Republican Party Logo provided by <a href="https://thenounproject.com/sandorsz/" target="_blank">Alexander Skowalsky</a></p>
            <p>Democratic Party Logo provided by <a href="https://thenounproject.com/jsczcy/" target="_blank">Yi Chen</a></p>
            <p>US Map provided by <a href="https://thenounproject.com/noahcamp/" target="_blank">Noah Camp</a></p>
            <p>User logo provided by <a href="https://thenounproject.com/IconDots/" target="_blank">IconDots</a></p>
            <p>Button (3 stars) provided by <a href="https://thenounproject.com/felisbertopiazza/" target="_blank">Felisberto Piazza</a></p>
        </div>

        <div class="section">
            <h3>Vertical Timeline</h3>
            <p>Timeline display of election results on results page uses <a href="https://codyhouse.co/gem/vertical-timeline/">Codyhouse Vertical Timeline</a></p>
        </div>

        <div class="section">
            <h3>Data</h3>
            <p>Election data was sourced from <a href="https://library.cqpress.com/elections/index.php">CQ Press Voting and Election Collection</a></p>
        </div>
    </div>
{% endblock %}
