{% extends "base-homepage.html" %}
{% block title %} Elections By County {% endblock %}
{% block content %}
    <div class="d-flex flex-column min-vh-70 justify-content-center align-items-center">
        <h3 class="fs-3">Lookup a county</h3>
        <p class="lead fs-6">County-State field is in the format: <span class="fw-normal">County | ST</span></p>
        <form method="post" class="needs-validation row mt-5">
            {% csrf_token %}
            <div class="col-md-6">
                <label class="control-label" for="{{ election_form.id_for_label }}">{{ election_form.county_state.label }}</label>
                {{ election_form.county_state }}
                {% if election_form.county_state.errors %}
                    <div class="invalid-feedback was-validated">
                        {{ election_form.county_state.errors.as_text }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                <label class="control-label" for="{{ election_form.election_type.id_for_label }}">{{ election_form.election_type.label }}</label>
                {{ election_form.election_type }}
                {% if election_form.election_type.errors %}
                    <div class="invalid-feedback was-validated">
                        {{ election_form.election_type.errors.as_text }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-1">
                <label class="form-label"></label>
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
        <div class="container col-md-5 mt-5">
            <figure class="text-end">
                <blockquote class="blockquote">
                    <p>{{ quote_obj.quote_text }}</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    {{ quote_obj.quote_name }} <cite title="Source Title">{{ quote_obj.quote_date }}</cite>
                </figcaption>
            </figure>
        </div>
    </div>
{% endblock %}
