<div id="use">
    <h2>How to Use the Website</h2>
    <br />
    <div class="section">
        <h3>Homepage</h3>
        <p>The Home page has 3 features:</p>
        <ul>
            <li>1. County, State (Menu)</li>
            <li>2. Type of Election (Menu)</li>
            <li>3. Search (Button)</li>
        </ul>
        <div class="section">
            <h4>Auto-Complete(How to Use)</h4>
            <p><strong>County, State</strong></p>
            <p>Searching for election results on this website is pretty straight forward. </p>
            <p>Once you start typing into the text field, a drop down populates displaying unique County and State combinations. Ex. <b><em>Wayne, IN</em></b></p>
            <p> Hyphenated or Multi Counties, e.g., <strong>Miami-Dade, Los Angeles, St. Joseph,</strong> when entering, the user must type these selections "as-is".</p>
            <p>The search is not affected by capitalization. Both upper and lower case are translated as one and the same.</p>
            <p> In your Search, do not type the word <em>County</em> or the word <em>State</em> as part of the name of the location else a "no-results" response will be received.</p>
            <p>To reduce the chances of getting wrong/no results, users are strongly advised to abide by these directions when using the features of the site.</p>
        </div>
        <div class="section">
            <h4>Type of Election</h4>
            <p>The user must select one of the following <b>President, Governor, Senate, Representatives</b></p>
        </div>
        <div class="section">
            <h4>Search Button</h4>
            <p>For the Search button to yield results, both the <b>County State</b> and <b>Type of Election</b> fields MUST be populated.</p>
        </div>

    </div>

    <div class="section">
        <h3>Results Page</h3>
        <p> The results page has 3 different components: </p>
        <ul>
            <li>Election Years</li>
            <li>Election Graph</li>
            <li>Election Result Grid</li>
        </ul>
        <div class="section">
            <h4>Election Years</h4>
            <p>This is a list of all election years available in the database. When users select each year, they are taken to the exact location of that year's election on the results page.</p>
        </div>
        <div class="section">
            <h4>Election Graph</h4>
            <p>The Election Graph consists of 4 different line graphs - <span style="color: #f00; font-weight: bold">Republican</span>, <span style="color: #00f; font-weight: bold">Democrat</span>, <span style="color: #000; font-weight: bold">Third Party</span>, <span style="color: #008000; font-weight: bold">Other Parties</span></p>
            <p>At the top of the graph, the names of the parties are listed, colored boxes next to the party name can be checked/unchecked to remove the line graph corresponding to the party from the graph. At least one box has to be checked at any point, <span style="text-decoration: underline">any attempt to uncheck the last box will automatically check all boxes</span>.</p>
            <p>Users can also hover their mouse over each data point on any of the line graphs to view the number of votes cast corresponding to each year.</p>
        </div>
        <div class="section">
            <h4>Election Results Legend</h4>
            <p>
                As the user scrolls down the page. An Election Results Legend is displayed per Election Year. The legend lists the election year, displayed first, followed by the election candidates. Number of votes received is listed next to each candidate.
            </p>
            <p>
                Candidates are listed in vote order. The candidate with the highest votes received will be listed first. Candidate names are arranged in decreasing order of the votes each candidate received in that county. For candidates representing the Republican or Democratic parties, their names and votes are displayed under the shade of their party's color, Red for Republican and Blue for Democrat.
            </p>
            <p>
                A Photo Image is displayed of the winning candidate PER COUNTY. The tally PER STATE is displayed for both the Democratic and Republican parties; this tally can be found listed at the bottom of each Legend.
            </p>
            <p>
                On smaller screens (devices with max width of 479px and below), this graph will not appear.
            </p>
        </div>
    </div>
</div>
